@{
    ViewBag.Title = "Apresentação";
}



<div class="jumbotron">
    <h1>Seja bem vindo ao BuscadorCEP!</h1>

    <h3>O aplicativo BuscadorCEP permite que você encontre código de endereçamento postal (CEP)</h3>
    <h3>Se você já tiver o CEP em mãos e gostaria de buscar seu endereço, o BuscadorCEP também vai te ajudar!</h3>
    <h3>Aproveite! =D</h3>

    <div class="text-muted mt-0 mb-4 d-block">
        <a class="btn btn-primary" @Html.ActionLink("Buscar Endereço", "BuscaEndereco", "Home")</a>
        <a class="btn btn-primary" @Html.ActionLink("Buscar CEP", "BuscaCep", "Home")</a>


    </div>

</div>
@*

*@